<html>
  <head>
    {% if title %}
    <title>{{ title }} - Homework</title>
    {% else %}
    <title>Welcome to Mihai's homework</title>
    {% endif %}
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
  </head>
  <body>
    <div>Homework: <a href="{{ url_for('index') }}">Home</a>
        {% if g.oidc.user_loggedin %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        | <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>